{% extends "main/base.html" %}
{% block content %}
    <h2>Каримов Роман Римович, г. Уфа</h2>
    <h4>Данное web-приложение разработано в Django==4.1</h4><br>
    <h5>При разработке проекта использовалась:</h5>
    <li>
        Работа с шаблонизатором DjangoTempletes back-end
    </li>
    <li >
        Работа со статикой в проекте
    </li>
    <li>
        Создание динамических url-адресов
    </li>
    <li>
        Django ORM. Создание моделей. Работа с моделями в контроллерах и шаблонах. QuerySet-ы
    </li>
    <li>
        GET/POST запросы
    </li>
    <li>
        Формы Django. Виджеты. Валидация данных
    </li>
    <li>
        ListView, пагинация
    </li>
    <li>
        Django Admin
    </li>
    <li>
         Система контроля версий Git <a href='https://github.com/funkPp/Tests'>(GitHub - public)</a>
    </li>
    <li>
        Deploy на PythonAnywhere
    </li>
    <li>
        HTML/CSS-верстка по минимуму
    </li>
{% endblock content %}